* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #041c2c, #0a3d62);
    color: #eaf6ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(8px);
}

nav h1 {
    color: #4cc9f0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #4cc9f0;
}

section {
    padding: 50px;
    flex: 1;
}

.home {
    padding: 0;
}

.hero {
    text-align: center;
}

.hero img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    display: block;
}

.hero h2 {
    font-size: 38px;
    color: #4cc9f0;
    margin-bottom: 15px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: rgba(255,255,255,0.08);
    border-radius: 16px;
    padding: 18px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.poster-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card h3 {
    margin-bottom: 6px;
    color: #4cc9f0;
}

.card small {
    opacity: 0.8;
}

.card button {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4cc9f0;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background: #38bdf8;
}

.booking {
    max-width: 420px;
    margin: auto;
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 16px;
}

.booking input,
.booking select,
.booking button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
}

.booking button {
    background: #4cc9f0;
    font-weight: bold;
    cursor: pointer;
}

.booking button:hover {
    background: #38bdf8;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
    font-size: 14px;
    background-color: #041c2c;
}

#datetime {
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.8;
}